name: Publish

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.CI_GITHUB_TOKEN }}
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          always-auth: true
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"
      - name: Setup Git
        run: |
          git config --local user.name "Danilo Britto"
          git config --local user.email "dbritto.dev@gmail.com"
      - run: pnpm install
      - run: pnpm build
      - run: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
